.result {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
    font-family: Geometria-Bold;
    position: relative;
    margin-bottom: 1.45rem;
}